<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.khmelevoyoleg.signaling">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <!-- android:theme="@style/AppTheme.NoActionBar"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SigSettings"
            android:label="Settings"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SigPreferences"
            android:label="@string/preferences"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service
            android:name=".BTService"
            android:process=":BTService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN.BTService" />
                <action android:name="com.example.khmelevoyoleg.signaling.BTService" />
            </intent-filter>
        </service>
    </application>
<!--            android:process=":BTService"   -->
</manifest>
